.heading {
    align-self: center;
    font-family: cursive;
    color: black;
    font-size: xx-large;
    align-items: center;
}

.container {
    padding: 20px;
    background-color: #bc8cd6;
    min-height: 100vh;
    
}

.MuiFormControl-root {
    background-color: white;
    width: 100%; 
    max-width: 200px; 
    margin-bottom: 15px;
  }